{% extends 'base.html.twig' %}

{% block title %}Edit Snacks{% endblock %}

{% block body %}
    <h1>Edit Snacks</h1>

    {{ include('snacks/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_snacks_index') }}">back to list</a>

    {{ include('snacks/_delete_form.html.twig') }}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/snacks_form.js') }}"></script>
{% endblock %}

{% endblock %}
